annotated-types
anyio
certifi
click
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
shellingham
sniffio
starlette
typer
typing_extensions
uvicorn
uvloop
watchfiles
websockets
