<!DOCTYPE html>

<!--

  "THE BEER-WARE LICENSE" (Revision 42):
  AvichalRakesh wrote this file.  As long as you retain this notice you
  can do whatever you want with this stuff. If we meet some day, and you think
  this stuff is worth it, you can buy me a beer in return.   Avichal Rakesh

-->

<html>
    <head>
        <title>Clock</title>

        <link
            href="https://fonts.googleapis.com/css?family=Raleway"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/weather-icons-lite.min.css" />

        <script type="text/javascript">
            var weatherInterval = {{ prefs.weatherInterval }};
            var weatherEnabled = {% if prefs.weatherEnabled -%}
                true
            {%- else -%}
                false
            {%- endif -%};

            var clock24hrs = {% if prefs.clock24hrs -%}
                true
            {%- else -%}
                false
            {%- endif -%};

            var showSeconds = {% if prefs.showSeconds -%}
                true
            {%- else -%}
                false
            {%- endif -%};

            var days = [
                {% for day in prefs.days -%}
                "{{day}}",
                {% endfor -%}
            ];

            var months = [
                {% for month in prefs.months -%}
                "{{month}}",
                {% endfor -%}
            ];
        </script>

        <script
            type="text/javascript"
            src="assets/js/jquery-3.1.0.min.js"
        ></script>
        <script type="text/javascript" src="assets/js/script.js"></script>

        <meta name="theme-color" content="#121212" />

        <link rel="icon" sizes="192x192" href="/assets/images/favicon.png" />
        <link rel="apple-touch-icon" href="/assets/images/favicon.png" />
    </head>

    <body>
        <img src="assets/images/bg/img_1.jpg" class="background-img shown" />
        <img src="assets/images/bg/img_1.jpg" class="background-img hidden" />;

        <div class="img-filter-div">
            <div>
                <!-- &nbsp; -->
            </div>
        </div>

        <div class="clock-container">
            <div class="clock" id="hours">00</div>
            <div class="clock dots">:</div>
            <div class="clock" id="minutes">00</div>
            <div class="clock" id="seconds">00</div>
            <div class="clock" id="am-pm">AM</div>
            <br />
            <div class="date-div" id="day">Sun,</div>
            <div class="date-div" id="date">00</div>
            <div class="date-div" id="month">Jan</div>
            <div class="date-div" id="year">0000</div>
        </div>

        <!-- Comment out the div below to remove weather -->
        <div class="weather-container">
            <div class="weather-icon"></div>
            <div class="temp-div"><span class="temp-span">00</span> &deg;C</div>
            <div class="feels-like-div">
                <span class="feels-like-span">00</span> &deg;C
            </div>
            <div class="weather-summary-div">Mostly Cloudy</div>
            <div class="preci-div">
                <i class="wi wi-umbrella"></i>
                <span class="preci-span">0%</span>
            </div>
            <br />
            <div class="alerts-div"></div>
        </div>
        <!-- End of weather container -->

        <div class="notif-container">
            <ul class="notif-list"></ul>
        </div>

        <div class="lights-toggle-container">
            <img class="lights-toggle-img" src="assets/images/lightbulb_off.png">
            <div class="lights-toggle-div">
                <svg stroke="#FFF" fill="#FFF" stroke-width="0" viewBox="0 0 24 24" class="text-theme-800 dark:text-theme-200 w-8 h-8 cursor-pointer" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M17 7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h10c2.76 0 5-2.24 5-5s-2.24-5-5-5zm0 8c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
            </div>
            <img class="lights-toggle-img" src="assets/images/lightbulb_on.png">
        </div>

        <div class="lights-filter">
            <div></div>
        </div>
    </body>
</html>
